/* Estilos de los encabezados */
.encabezados{
	margin: 20px;

	color: blueviolet;
}

.encabezados h3 ~ h3{
	font-size: 25px;

	color: black;
}

/* Selector de identificador */
#parrafo1{
	font-size: 15px;
	font-weight: bold;

	color: greenyellow;
}

.logo{
	height: 50px;
}

nav{
	display: inline;
}
